<h2>Goal.IO</h2>


<ul class="items">
  <li>Home</li>
  <li>Groups</li>
  <li>Setting</li>
</ul>



<form class="note">
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Favorite food</mat-label>-->
<!--    <input matInput placeholder="Ex. Pizza" value="Sushi">-->
<!--  </mat-form-field>-->

  <mat-form-field class="note-full-width">
    <mat-label>Notes:</mat-label>
    <textarea matInput placeholder="Ex. What caught my attention..."></textarea>
  </mat-form-field>
</form>

